<div class="pagination">
  <hr>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
      前ページ
    </a>
  {% else %}
    <span class="previous">前ページ</span>
  {% endif %}
  <span class="page_number ">
    ({{ paginator.page }} / {{ paginator.total_pages }})
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">次ページ</a>
  {% else %}
    <span class="next ">次ページ</span>
  {% endif %}
</div>
