.post-content h2::before {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    content: '§';
    margin-right: 0.125em;
}

.post-content h3::before {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    content: '§§';
    margin-right: 0.125em;
}

.post-content h4::before {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    content: '¶';
    margin-right: 0.125em;
}